@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  min-height: 100vh;  
  background-color: #001122;
  font-family: 'Poppins', sans-serif;  
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

#root{
  display: flex;
  justify-content: center;
}
.App{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;    
}  
.contenedor-tareas{
  max-width: 600px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
}  
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;    
  margin: 20px 0;  
  color: #7d6796;  
}

:root{
  --color-bg-darkmode: #001122;
  --color-darkmode-1: #53626e;
  --color-darkmode-2: #17354e;
  --color-bg-lightmode: #ffffff;
  --color-lightmode-1: #db88f1;
  --color-lightmode-2: #211244;
}