.nueva-tarea{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  border-radius: 10px;
  width: 96%;
  max-width: 600px;
}
.input-tarea{
  width: 85%;
  max-height: 53px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border: solid 2px white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.btn-agregarTask{
  width: 15%;
  height: 53px;
  max-height: 53px;  
  font-size: 18px;
  font-family: Roboto, sans-serif; 
  border: solid 2px #7d6796;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #7d6796;
  color: #fff;
  text-transform: capitalize;
}